
<link rel="stylesheet" href="https://www.ant-pc.com/assets/2022-theme/css/style.css">
<section style="margin-top: 10px;" class="products-list-sec series-list-sec ">
    <div class="container-fluid container-fluid-cust">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 products-listInn">
            <div class="row">
              <!-- Box starts -->
              <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-up">
                <div style="margin-top: 20px;border-radius: 20px;" class="products-list-box">
                    <div class="pList-box-heading">                     
                      <h3> 
                        <a  href="">dasdasddasd</a>
                      </h3>
                    </div>
                    <div class="pList-box-img">
                       <a href="">
                        <img src="https://www.ant-pc.com/extra/images/ANT_Esports_690_Air4.png" alt="" class="img-fluid">
                      </a>
                    </div>
                    <div class="pList-box-points">
                        <h5>BUDGET GAMING</h5>
                      <p>Enjoy all your favourite latest games without breaking the bank.</p>
                    </div>
                    <div class="pList-box-price">
                        <span><small>Starts from</small></span>
                      <i class="fas fa-rupee-sign"></i>
                      38,943.00                    </div>
                    <div class="pList-btn">
                      <a href="/pre-build/view-more/budget" class="btn-comm btn-block">VIEW MORE</a>
                    </div>
                </div>
              </div>
              
              <!-- Box ends -->

              <div  class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-up">
                <div style="margin-top: 20px;border-radius: 20px;" class="products-list-box">
                    <div class="pList-box-heading">                     
                      <h3> 
                        <a href="">PHARAOH SERIES</a>
                      </h3>
                    </div>
                    <div class="pList-box-img">
                       <a href="">
                        <img src="https://www.ant-pc.com/extra/images/product-img3n.png" alt="" class="img-fluid">
                      </a>
                    </div>
                    <div class="pList-box-points">
                        <h5>ENTHUSIAST GAMING</h5>
                      <p>Series that smashes 1080p and can handle 1440p with a few tweaks.</p>
                    </div>
                    <div class="pList-box-price">
                        <span><small>Starts from</small></span>
                      <i class="fas fa-rupee-sign"></i>
                      77,445.00                    </div>
                    <div class="pList-btn">
                      <a href="/pre-build/view-more/enthusiast" class="btn-comm btn-block">VIEW MORE</a>
                    </div>
                </div>
              </div>
              <!-- Box ends -->


              <!-- Box starts -->
              <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-up">
                <div style="margin-top: 20px;border-radius: 20px;" class="products-list-box">
                    <div class="pList-box-heading">                     
                      <h3> 
                        <a href="">SOLENOPSIS SERIES</a>
                      </h3>
                    </div>
                    <div class="pList-box-img">
                       <a href="">
                        <img src="https://www.ant-pc.com/extra/images/Phanteks_Metallic_Gear_Neo_Qube_Black2.png" alt="" class="img-fluid">
                      </a>
                    </div>
                    <div class="pList-box-points">
                        <h5>EXTREME GAMING</h5>
                      <p>Extreme grade with high-end 4k and VR gaming experience.</p>
                    </div>
                    <div class="pList-box-price">
                        <span><small>Starts from</small></span>
                      <i class="fas fa-rupee-sign"></i>
                      174,209.00                    </div>
                    <div class="pList-btn">
                      <a href="/pre-build/view-more/extreme" class="btn-comm btn-block">VIEW MORE</a>
                    </div>
                </div>
              </div>
              <!-- Box ends -->

              <!-- Box starts -->
              <div class="col-lg-3 col-md-3 col-sm-12" data-aos="fade-up">
                <div style="margin-top: 20px;border-radius: 20px;" class="products-list-box">
                    <div class="pList-box-heading">                     
                      <h3> 
                        <a href="">METALLICA SERIES</a>
                      </h3>
                    </div>
                    <div class="pList-box-img">
                       <a href="">
                        <img src="https://www.ant-pc.com/extra/images/Cougar_CONQUER_22.png" alt="" class="img-fluid">
                      </a>
                    </div>
                    <div class="pList-box-points">
                        <h5>STREAMING</h5>
                      <p>Top of the line Streaming ready gaming system.</p>
                    </div>
                    <div class="pList-box-price">
                        <span><small>Starts from</small></span>
                      <i class="fas fa-rupee-sign"></i>
                      311,674.00                    </div>
                    <div class="pList-btn">
                      <a href="/pre-build/view-more/streaming" class="btn-comm btn-block">VIEW MORE</a>
                    </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  </section>