<!doctype html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    
    <title>Sharoon!</title>
    <link rel="canonical" href="https://pcbuilder.net/" />
<meta property="og:title" content="PC Builder - Build Your Custom PC Online">
<meta property="og:url" content="https://pcbuilder.net/">
<meta property="og:image" content="https://static.pcbuilder.net/assets/images/og/visit-pc-builder.png">
<meta property="og:description" content="Building your PC compatibility was never so easy before - but with the use of PC Builder, just pick the desired PC parts from the list of latest components, and you're ready to turn your imagination into reality. You can use the PC building simulator offered by us to create your own PC virtually and even analyze the compatible pc parts before buying them, and its really easy by simply picking up the pc parts. We at PC Builder also help you to restrain your stress of getting into the complex structure and finding compatibility of the parts. And get assured before purchasing your custom PC with the PC Builder.">
<meta name="twitter:title" content="PC Builder - Build Your Custom PC Online">
<meta name="twitter:description" content="Building your PC compatibility was never so easy before - but with the use of PC Builder, just pick the desired PC parts from the list of latest components, and you're ready to turn your imagination into reality. You can use the PC building simulator offered by us to create your own PC virtually and even analyze the compatible pc parts before buying them, and its really easy by simply picking up the pc parts. We at PC Builder also help you to restrain your stress of getting into the complex structure and finding compatibility of the parts. And get assured before purchasing your custom PC with the PC Builder.">
<link rel="preload" as="image" href="https://static.pcbuilder.net/assets/images/banner/bg-banner.png" />
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />

<link rel="dns-prefetch" href="https://static.pcbuilder.net">
<link rel="preconnect" href="https://static.pcbuilder.net" crossorigin>
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:site_name" content="PC Builder">
<meta property="og:image" content="https://static.pcbuilder.net/assets/images/banner/bg-banner.png">
<meta property="og:image:secure_url" content="https://static.pcbuilder.net/assets/images/banner/bg-banner.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="627">
<meta name="author" content="Sunny Bundel" />
<meta property="og:image:alt" content="PC Builder - Build Your Custom PC Online">
<meta property="og:image:type" content="image/png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@pcbuilder_net" />
<meta name="twitter:creator" content="@sunnybundel">
<meta name="twitter:image" content="https://static.pcbuilder.net/assets/images/banner/bg-banner.png">
<meta property="fb:app_id" content="361771148502558">

<link rel="apple-touch-icon" sizes="57x57" href="https://static.pcbuilder.net/assets/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://static.pcbuilder.net/assets/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://static.pcbuilder.net/assets/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://static.pcbuilder.net/assets/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://static.pcbuilder.net/assets/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://static.pcbuilder.net/assets/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://static.pcbuilder.net/assets/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://static.pcbuilder.net/assets/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://static.pcbuilder.net/assets/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://static.pcbuilder.net/assets/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://static.pcbuilder.net/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://static.pcbuilder.net/assets/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://static.pcbuilder.net/assets/images/favicon/favicon-16x16.png">
<link rel='manifest' href='https://pcbuilder.net/manifest.json?v=1.0.4'>
<meta name="msapplication-TileColor" content="#001119">
<meta name="msapplication-TileImage" content="https://static.pcbuilder.net/assets/images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#001119">

<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://static.pcbuilder.net/assets/plugins/fontawesome/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://static.pcbuilder.net/assets/plugins/fontawesome/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>

<link rel="preload" as="image" href="https://static.pcbuilder.net/assets/images/logo-80.png" />
<link rel="preload" as="image" href="https://static.pcbuilder.net/assets/images/flags/in.svg" />
<link rel="preload" as="image" href="https://static.pcbuilder.net/assets/images/icons/cpu.svg" />
<link rel="preload" as="image" href="https://static.pcbuilder.net/assets/images/icons/cart.svg" />
<link rel="preload" href="https://static.pcbuilder.net/assets/fonts/montserrat/font.css" as="style">

<link rel="stylesheet" href="https://static.pcbuilder.net/assets/css/bootstrap.min.css"> 

<link rel="stylesheet" href="https://static.pcbuilder.net/assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="https://static.pcbuilder.net/assets/css/style.css">

<link rel="stylesheet" type="text/css" href="https://static.pcbuilder.net/assets/fonts/montserrat/font.css">

<style>

.pre-built .content .image {
    width: 100%;
}


.disabled {
    pointer-events:none;
}

.page-content {
    background-color: #f6f7f9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.page-content h2 {
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.page-content p {
    font-size: 18px;
    color: black;
    font-weigt: 400;
    padding: 2px 0;
    line-height: 30px;
}
.page-content .content {
    padding: 40px;
}
.page-content .notice-box {
    padding: 1em;
    border-width: 1px;
    border-style: solid;
    background-color: #001119ca;
    border-color: #001119ca;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.page-content .notice-box p {
    font-size:16px;
    color: #ffffff;
}



@media screen and (max-width: 767px) {
    nav .navbar-nav li:first-child {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 992px) {
  #my-search {
    display: none !important;
  }
}

#my-search {
  border-top: 1px solid var(--headerBorderColor);
  border-bottom: 1px solid var(--headerBorderColor);
}

#my-search .mega-search {
  position: static;
  height: 100vh;
  padding-top: 30px;
}


.search-result a {
  padding: 7px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.search-result a:hover {
    color: #18AE91;
    background-color: transparent;
}

.search-for {
    color: white;
    padding: 5px 20px;
}

div.search-result {
    color: white;
    font-weight: 600;
    border-bottom: 1px solid var(--headerBorderColor);
    display: flex;
    flex-wrap: wrap;
    padding: 12px 5px;
    justify-content: center;
}

.search-image {
    margin: auto;
    flex: 0 0 18%;
    width: 85px;
    height: 85px;
    padding: 3px 0;
    
}
.search-link {
    flex: 0 0 72%;
}
.search-buttons {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
}
.search-buttons .btn-amazon {
    flex: 0 0 49%;
    background-color:#E18E2E;
    color:#fff;
}
.search-buttons .btn-amazon:hover {
    background-color:#E18E2E;
    color:#fff;
}
.search-buttons .btn-view {
    flex: 0 0 49%;
    background-color:#4D71A3;
    color:#fff;
}
.search-buttons .btn-view:hover {
    background-color:#4D71A3;
    color:#fff;
}



/* search page coding */
.pcb-search {
    color: white;
    background-color: #001119;
}

@media only screen and (min-width: 768px) {
    
    .pcb-search {
        padding: 20px 150px;
    }
    .search-image{
        flex: 0 0 10%!important;
        padding: 3px 0;
        margin: auto;
    }
    .search-link {
        flex: 0 0 55%!important;
        justify-content: center;
        margin: auto;
    }
    .search-buttons {
        flex: 0 0 30%!important;
        display: flex;
        justify-content: space-between;
    }
    .search-buttons .btn-amazon {
        margin: auto;
        padding: 7px;
    }
    .search-buttons .btn-view {
        margin: auto;
        padding: 7px;
    }
    
}
</style>
<style>
*, html {
    touch-action: manipulation;
}
html,body {
    position:relative;
    overflow-x:hidden;
}
.carousel.pointer-event {
  touch-action: pan-y pinch-zoom;
}
.copy-link {
    cursor: pointer;
}

header {
    justify-content: space-between;
}
.search {
    flex-grow: 1;
}
.change-country {
    width: auto;
    height: 35px;
    border-radius: 0%!important;
}

.pcb-country .dropdown-menu {
    top: 50px!important;
    left: -50px!important;
}
.pcb-country .dropdown-item {
    color: #001119!important;
    font-size: 12px;
    padding-left: 12px;
    cursor: pointer;
}
.pcb-country .dropdown-image {
    height: 20px;
    padding-right: 10px;
}

.selectbox li {
    list-style-type: none;
}


.selectbox .pcb-country .dropdown-menu {
    top: 17px!important;
    right: 0;
    margin-left: 34px;
}
@media screen and (max-width: 768px) {
    .selectbox .pcb-country .dropdown-menu {
        margin: 0;
    }
    .pcb-country .dropdown-menu {
    top: 50px!important;
    left: -27px!important;
}
}
.selectbox .change-country {
    padding-right: 7px;
    height: 22px;
}
.selectbox .country {
    font-size: 12px;
}

.tool-design .upper-box > * {
    padding: 0 12px!important;   
}

.selectbox {
    margin: 0 auto;
}
</style>
<style>

.modal-content {
    background-color: #3d4144!important;
    color: #ffffff!important;
}
#exampleModal [type="radio"]:checked + label, #exampleModal [type="radio"]:not(:checked) + label {
    color: #ffffff!important;
}
</style>
<style>
.pcb-breadcrumb {
    padding-left: 10px;
    padding-right: 10px;
}
.pcb-breadcrumb h1 {
    color: white;
    font-weight: 600;
    -webkit-column-break-after: always;
    break-after: always;
    font-size: 2rem;
}
</style>
<style>
    .stars-rating {
        color: #d0e8f0;
    	position: relative;
        display: inline-block;
        
    }
    
    .stars-rating .stars-score {
      color: #80c1d5;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 20%;
      white-space: nowrap;
    }
    .stars-scale {
        white-space: nowrap;
    }
</style>
<style>
@media only screen and (max-width: 768px) {
    .items > td:nth-child(3) > * {
        margin-bottom: 0px!important;
    }
    .items>td:nth-child(5), .items>td:nth-child(6) {
        margin-top: 12px!important;
    }
}
.system-builder table tbody .comp-details .table_span .detail {
    padding-top: 10px!important;
}


.view-more {
    margin-top: -6px!important;
}

.view-more span, .view-more i {
    cursor: pointer;
}
</style>
  </head>
  <body>
    {{#if admin}}
      {{>admin-header}}
    {{else}}
    {{>user-header}}
    {{/if}}
    {{{body}}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>